@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot@#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Common styles of menus */

.dl-menuwrapper {
	width: 100%;
	max-width: 250px;
	float: right;
	position: absolute;
	top:-10000px;/*Ä¬ÈÏÒþ²Ø²Ëµ¥*/
	right:0;
	z-index: 999;
}

.dl-menuwrapper:first-child {
	margin-right: 100px;
}
.dl-menuwrapper ul {
	background: #0067d2;
}

.dl-menuwrapper ul {
	padding: 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.dl-menuwrapper li {
	position: relative;
}

.dl-menuwrapper li a {
	display: block;
	position: relative;
	padding: 15px 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	color: #fff;
	border-top: 1px solid #0576ec;
	border-bottom:1px solid #0053aa;
	outline: none;
	text-decoration:none;
}

